<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="A site with a bunch of tasks">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TaskList</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <header>
            <h1>The fabulous task list</h1>
            <p>Feel free to edit these tasks to your heart's content.</p>
        </header>
        <div class="flex-main">
            <aside>
                <form>
                    <label for="filter-type">Filter:</label><br>
                    <select id="filter-type" name="filter">
                        <option>None</option>
                        <option>Complete</option>
                        <option>Incomplete</option>
                        <option>Not started</option>
                    </select>
                    <input type="submit" value="Apply">
                </form>
                <form method="post">
                    <label for="task-id">Select task:</label>
                    <input type="number" id="task-id" name="task" min="1" max="<%= totalTasks %>" value="1"><br>
                    <label for="task-date">Completion date:</label>
                    <input type="date" id="task-date" name="date"><br>
                    <label for="task-file">Attach file:</label>
                    <input type="file" id="task-file" name="file"><br>
                    <input type="submit" value="Update task">
                </form>
            </aside>
            <main>
                <% for (let i = 0; i < tasks.length; ++i) { %>
                    <div>
                        Task №<%= tasks[i].id %><br>
                        <%= tasks[i].title %>:
                        <%= tasks[i].status %><br>
                        Completion date: <%= tasks[i].completionDate ?? "None" %><br>
                        File attached: <%= tasks[i].hasFile ? "Yes" : "No" %>
                    </div>
                <% } %>
            </main>
        </div>
    </body>
</html>